body{
    background-color: rgb(0, 2, 22);
    font-family: sans-serif;
}
/*header*/
header
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 10px;
	padding: 40px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #111;
	z-index: 1000;
	transition: 0.6%;
}
/*header.sticky
{
	padding: 5px 100px;
	background: #fff;
	border-bottom: 1px solid(0,0,0,.1);
}*/
/*navigation bar*/
header img{
    height: 60px;
    width: 200px;
}
header ul
{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
/*navigation bar items*/
header ul li
{
	position: relative;
	list-style: none;
	

}
header ul li a 
{
	position: relative;
	margin: 0px 20px;
	color: #fff;
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
	letter-spacing: 2px;
	font-weight: 300;
	transition: 0.6%


}
header ul li.active,
header ul li:hover
{
	background: #228b22;
}
/*close of the header*/

 img{
    margin-top: 200px;
    margin-bottom: 50px;
   
 }

h1{
    margin-top: 75px;
    text-align: center;
    font-family: 'Lucida Sans';
    color: #ffffff;
    font-size: 48px;}



p{
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    font-family: Verdana;
    margin-top: 50px;
}

button{
    text-align: center;
    margin-bottom: 5px;
}
/*login form */
.box1 {
    position:relative;
	margin-top: 70px;
	padding: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 450px;
    background: #ffffff;
    padding: 40px;
    border: 1px solid rgba(0,0,0,.1);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-sizing: border-box;
}
.box1 h2{
    margin: 0 0 40px;
    padding: 0;
    color: royalblue;
    
}

.box1 input{
    padding: 10px 0;
    margin-bottom: 30px;
}

.box1 textarea{
    height: 80px;
    padding: 10px 0;

}

.box1 input,
.box1 textarea{
    width: 100%;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
    border: transparent;
    border-bottom: 2px solid #999;
}
.box1 textarea{
    margin-bottom: 20px;
}
.box1 input[type="submit"]{
    border-bottom: none;
    cursor: pointer;
    background: royalblue;
    color: #ffffff;
    margin-bottom: 0;
    text-transform: uppercase;
}

.box1 form div{
    position: relative;

}
.box1 form div label{
    position: absolute;
    top:10px;
    pointer-events: none;
    left: 0;
    color: #999;
    transition: .5s;
}

.box1 input:focus ~label,
.box1 textarea:focus ~label,
.box1 input:valid ~label,
.box1 textarea:valid ~label{
    top: -12px;
    left: 0;
    color: navy;
    font-size: 12px;
    font-weight: bold;

}

.box1 input:focus,
.box1 textarea:focus,
.box1 input:valid,
.box1 textarea:valid{
    border-bottom: 2px solid navy;
}

/*Sign Up Form */
.box2{
    position:relative;
	margin-top: 40px;
	padding: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 800px;
    background: #ffffff;
    padding: 40px;
    border: 1px solid rgba(0,0,0,.1);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-sizing: border-box;
}
.box2 h2{
    margin: 0 0 40px;
    padding: 0;
    color: royalblue;
    text-transform: uppercase;
}

.box2 input{
    padding: 10px 0;
    margin-bottom: 30px;
}

.box2 textarea{
    height: 80px;
    padding: 10px 0;

}

.box2 input,
.box2 textarea{
    width: 100%;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
    border: transparent;
    border-bottom: 2px solid #999;
}
.box2 textarea{
    margin-bottom: 20px;
}
.box2 input[type="submit"]{
    border-bottom: none;
    cursor: pointer;
    background: royalblue;
    color: #ffffff;
    margin-bottom: 0;
    text-transform: uppercase;
}

.box2 form div{
    position: relative;

}
.box2 form div label{
    position: absolute;
    top:10px;
    pointer-events: none;
    left: 0;
    color: #999;
    transition: .5s;
}

.box2 input:focus ~label,
.box2 textarea:focus ~label,
.box2 input:valid ~label,
.box2 textarea:valid ~label{
    top: -12px;
    left: 0;
    color: navy;
    font-size: 12px;
    font-weight: bold;

}

.box2 input:focus,
.box2 textarea:focus,
.box2 input:valid,
.box2 textarea:valid{
    border-bottom: 2px solid navy;
}

/*add permission form */
.box{
    position:relative;
	margin-top: 80px;
	padding: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 800px;
    background: #ffffff;
    padding: 40px;
    border: 1px solid rgba(0,0,0,.1);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-sizing: border-box;
}
.box h2{
    margin: 0 0 40px;
    padding: 0;
    color: royalblue;
    text-transform: uppercase;
}

.box input{
    padding: 10px 0;
    margin-bottom: 30px;
}

.box textarea{
    height: 80px;
    padding: 10px 0;

}

.box input,
.box textarea{
    width: 100%;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
    border: transparent;
    border-bottom: 2px solid #999;
}
.box textarea{
    margin-bottom: 20px;
}
.box input[type="submit"]{
    border-bottom: none;
    cursor: pointer;
    background: royalblue;
    color: #ffffff;
    margin-bottom: 0;
    text-transform: uppercase;
}

.box form div{
    position: relative;

}
.box form div label{
    position: absolute;
    top:10px;
    pointer-events: none;
    left: 0;
    color: #999;
    transition: .5s;
}

.box input:focus ~label,
.box textarea:focus ~label,
.box input:valid ~label,
.box textarea:valid ~label{
    top: -12px;
    left: 0;
    color: navy;
    font-size: 12px;
    font-weight: bold;

}

.box input:focus,
.box textarea:focus,
.box input:valid,
.box textarea:valid{
    border-bottom: 2px solid navy;
}

/*Admin Sign In*/
.box4{
    text-align: justify;
}


.box4 h2{
    margin-top: 75px;
    text-align: center;
    font-family: 'Lucida Sans';
    color: #ffffff;
    font-size: 36px;
}

.box4 form {
    text-align: center;
    margin-block-end: auto;
}

.box4 form label{
    color: #ffffff;
    
}

.box4 input[type="text"]{
    width: 300px;
}

.box4 input[type="password"]{
    width: 300px;
}

footer{
    text-align: center;
    font-family: 'Lucida Sans';
    background-color: rgb(46, 46, 46);
    color: #ffffff;
    font-size: 12px; 
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

/*Searchpermission form */

body{
    background-color: rgb(0, 2, 22);
    font-family: sans-serif;
   }
.navbar {
  width:100%;
  height:60px;
  background-color: #111;
  border-bottom: 1px solid(0,0,0,.1);
  align-items: center;
  
       }
.navbar img {
  margin-top:100px;
}

.navbar a {
  float:right;
  text-align: center;
  padding: 3px 18px;
  color:#fff;
  position: fixed;
  margin: 16px 25px;
  text-decoration:none;
  font-size: 17px;
  position: relative;
  letter-spacing: 2px;
  list-style: none;
	

  

          }

.navbar a:hover {
  background-color:#228b22;
                }

.container {
    position:relative;
	margin-top: 70px;
	padding: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
    background: #ffffff;
    padding: 50px;
    border: 1px solid rgba(0,0,0,.1);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-sizing: border-box;
}

.container h2{
    margin: 0 0 40px;
    padding: 0;
    color: royalblue;
    text-align:center;
}
.container h4{
    font-family:ariel;
    font-size:16.8px;
}
.container input{
    padding-left:50px;
    height:28px;
    margin-left:23%;
   
 
    
}

  


.container button {
  background-color:royalblue ;
  border: none;
  color: #ffffff;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 1px 160px;
  cursor: pointer;
  border-radius: 16px;
  
}



